# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.org/en/latest/deploy.html

[settings]
default = mongodb_com.settings

[deploy:default]
url=http://scrapy.wordbean.com
username = rusc
password = rckbl035
project= mongodb_com
